
/**
 * Body CSS
 */
html,
body {
  height: 100%;
}

html,
body,
input,
textarea,
buttons {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/**
 * Layout CSS
 */

#content {
  transition: margin-left .35s;
  margin-top: 80px;
}

.mui-appbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.mui-appbar .icon {
  margin: 0 1em;
}

.mui-appbar .mui--text-title {
  flex-grow: 2;
}

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  transition: left 0.2s;
}

#sidedrawer {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
  left: -200px;
  overflow: auto;
  z-index: 2;
  background-color: #fff;
  transition: transform 0.2s;
}

#content {
  min-height: 100%;
  overflow-x: hidden;
  margin-left: 0px;
  transition: margin-left 0.2s;

  /* sticky bottom */
  margin-bottom: -160px;
  padding-bottom: 160px;
}

#footer {
  height: 160px;
  margin-left: 0px;
  transition: margin-left 0.2s;
}

@media (min-width: 768px) {
  #header {
    left: 200px;
  }

  #sidedrawer {
    transform: translate(200px);
  }

  #content {
    margin-left: 200px;
  }

  #footer {
    margin-left: 200px;
  }

  .hidden-sidedrawer #sidedrawer {
    transform: translate(0px);
  }

  .hidden-sidedrawer #header {
    left: 0;
  }

  .hidden-sidedrawer #content {
    margin-left: 0;
  }

  .hidden-sidedrawer #footer {
    margin-left: 0;
  }
}


/**
 * Toggle Side drawer
 */
#sidedrawer.active {
  transform: translate(200px);
}


/**
 * Header CSS
 */
.sidedrawer-toggle {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  margin-right: 10px;
}

.sidedrawer-toggle:hover {
  color: #fff;
  text-decoration: none;
}


/**
 * Footer CSS
 */
#footer {
  background-color: #0288D1;
  color: #fff;
}

#footer a {
  color: #fff;
  text-decoration: underline;
}

/**
 * Side drawer CSS
 */
#sidedrawer-brand {
  padding-left: 20px;
}

#sidedrawer ul {
  list-style: none;
}

#sidedrawer > nav > ul {
  padding-left: 0px;
}

#sidedrawer > nav > ul > li:first-child {
  padding-top: 15px;
}

#sidedrawer strong {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 15px 22px;
  cursor: pointer;
}

#sidedrawer strong:hover {
  background-color: #E0E0E0;
}

#sidedrawer ul {
  transform-origin: top;
  transition: transform 0.26s ease;
}
#sidedrawer ul.hide {
  transform: scaleY(0);
  height: 0
}

#sidedrawer strong + ul > li {
  padding: 6px 0px;
}
